.linker {
  display: flex;
  position: relative;
}

.linker:after {
  bottom: -5px;
  content: "";
  height: 2px;
  right: 0;
  left: auto;
  position: absolute;
  background: currentColor;
  transition: all 0.7s;
  width: 0;
  color: #ffd567;
}

.linker:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.fundo {
  background-image: url("/fundo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title-header::after {
  position: absolute;
  height: 3px;
  width: 50%;
  bottom: -10px;
  left: 50%;
  content: " ";
  background-color: #ffd567;
  transform: translateX(-50%);
}
